<% content_for :page_title do %>
Payouts
<% end %>

<div class="mt-4">
  <stripe-payouts-experience></stripe-payouts-experience>
</div>

<% if flash[:error] %>
<%= flash[:error] %>
<% else %>
  <script>
    window.StripeConnect ||= {};
    StripeConnect.onLoad = () => {
      StripeConnect.init({
        publishableKey: "<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>",
        clientSecret: "<%= @account_session.client_secret %>",
      });
    };
  </script>
  <script async src="https://b.stripecdn.com/connect-js/v0.1/connect.js"></script>
<% end %>
